<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <debugbar>
                <enabled>1</enabled>
                <magento_collector>1</magento_collector>
                <messages_collector>1</messages_collector>
                <time_collector>1</time_collector>
                <event_collector>1</event_collector>
            </debugbar>
        </dev>
    </default>
</config>