<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Fruitcake\MagentoDebugbar\API\DebugbarStateInterface"
                type="Fruitcake\MagentoDebugbar\Provider\StateProvider" />

    <type name="Magento\Framework\AppInterface">
        <plugin name="Fruitcake\MagentoDebugbar\Plugin\AddMagentoCollectorPlugin"
                type="Fruitcake\MagentoDebugbar\Plugin\AddMagentoCollectorPlugin"
                sortOrder="100" />
        <plugin name="Fruitcake\MagentoDebugbar\Plugin\AddMessagesCollectorPlugin"
                type="Fruitcake\MagentoDebugbar\Plugin\AddMessagesCollectorPlugin"
                sortOrder="110" />
        <plugin name="Fruitcake\MagentoDebugbar\Plugin\AddTimeDataCollectorPlugin"
                type="Fruitcake\MagentoDebugbar\Plugin\AddTimeDataCollectorPlugin"
                sortOrder="120" />
        <plugin name="Fruitcake\MagentoDebugbar\Plugin\AddEventCollectorPlugin"
                type="Fruitcake\MagentoDebugbar\Plugin\AddEventCollectorPlugin"
                sortOrder="130" />
    </type>
</config>
