<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\App\ResponseInterface">
        <plugin name="Fruitcake\MagentoDebugbar\Plugin\ResponsePlugin"
                type="Fruitcake\MagentoDebugbar\Plugin\ResponsePlugin"
                sortOrder="99"
        />
    </type>

    <type name="Magento\Framework\Event\ManagerInterface">
        <plugin name="Fruitcake\MagentoDebugbar\Plugin\EventManagerPlugin"
                type="Fruitcake\MagentoDebugbar\Plugin\EventManagerPlugin"
                sortOrder="1"
        />
    </type>
    
</config>
