<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev" translate="label">
            <group id="debugbar" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Magento Debugbar</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable the Debugbar.</comment>
                </field>
                <field id="enabled_admin" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled in Admin Backend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable the Debugbar also in the back-end.</comment>
                </field>
                <field id="magento_collector" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Magento Collector</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Shows the Magento version + current locale.</comment>
                    <depends>
                        <field id="dev/debugbar/enabled">1</field>
                    </depends>
                </field>
                <field id="messages_collector" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message Collector</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Shows messages, can be aggregated from multiple sources.</comment>
                    <depends>
                        <field id="dev/debugbar/enabled">1</field>
                    </depends>
                </field>
                <field id="time_collector" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Timedate Collector</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Can be used to display measurements.</comment>
                    <depends>
                        <field id="dev/debugbar/enabled">1</field>
                    </depends>
                </field>
                <field id="event_collector" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Events Collector</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Show all events.</comment>
                    <depends>
                        <field id="dev/debugbar/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>